.gcloudignore
.git
.git/**
.env*
gha-creds-*.json
**/gha-creds-*.json
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/
tests/
requirements-dev.txt
requirements-dev.lock
README.md
